___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 ==0:
        return min(a,b)
    else:
        return max(a,b)

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [7]:
def animal_crackers(text):
    animals = text.split(' ')
    return animals[0][0].lower() == animals[1][0].lower()

In [8]:
# Check
animal_crackers('Levelheaded Llama')

True

In [9]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [22]:
def makes_twenty(n1,n2):
    if n1 == 20 or n2 == 20 or n1+n2 == 20:
        return True
    else:
        return False

In [23]:
# Check
makes_twenty(20,10)

True

In [24]:
# Check
makes_twenty(12,8)

True

In [25]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [14]:
def old_macdonald(name):
    new = ''
    for i in range(len(name)):
        if i == 0 or i == 3:
            new += name[i].upper()
        else:
            new += name[i]
     
    return new

In [15]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [38]:
def master_yoda(text):
    rev = text.split(' ')
    rev.reverse()
    print(" ".join(rev))

In [39]:
# Check
master_yoda('I am home')

home am I

In [40]:
# Check
master_yoda('We are ready')

ready are We

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [41]:
def almost_there(n):
    if abs(100-n) <= 10 or abs(200-n) <= 10:
        return True
    else:
        return False

In [45]:
# Check
almost_there(90)

True

In [46]:
# Check
almost_there(104)

True

In [47]:
# Check
almost_there(150)

False

In [48]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [59]:
def has_33(nums):
    for i in range(len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
        else:
            pass
    return False

In [60]:
# Check
has_33([1, 3, 3])

True

In [61]:
# Check
has_33([1, 3, 1, 3])

False

In [62]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [63]:
def paper_doll(text):
    result = ''
    for n in text:
        result = result + 3*n
    return result

In [64]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [65]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [69]:
def blackjack(a,b,c):
    sum = a+b+c
    if sum <= 21:
        return sum
    elif sum > 21 and (a==11 or b ==11 or c==11):
        return sum - 10
    else:
        return 'BUST'

In [70]:
# Check
blackjack(5,6,7)

18

In [71]:
# Check
blackjack(9,9,9)

'BUST'

In [72]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [74]:
def summer_69(arr):
    sum = 0
    skip = False
    for n in arr:
        if skip == False and n== 6:
            skip = True
        elif skip == False and n!= 6:
            sum+=n
        elif skip == True and n==9:
            skip = False
        else:
            pass
    
    return sum

In [75]:
# Check
summer_69([1, 3, 5])

9

In [76]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [77]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [102]:
def spy_game(nums):
    str_007 = ''
    for i in range(len(nums)):
        if nums[i]==0 or nums[i]==7:
            str_007+=str(nums[i])
        else:
            pass
    if '007' in str_007:
        return True
    else:
        return False

In [103]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [104]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [105]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [209]:
def is_prime(num):
    divisors=[]
    for i in range(2,num+1):
        if num%i == 0 and num!=i:
            divisors.append(i)
        else:
            pass
    #print(divisors)
    return len(divisors)==0

In [210]:
def count_primes(up_to_num):
    counter = 0
    primes = []
    for i in range(2, up_to_num+1):
        if is_prime(i) == True:
            primes.append(i)
            counter+=1
        else:
            pass
    print(primes)   
    return counter

In [217]:
# Check
print(is_prime(12))
print(count_primes(100))

False
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [269]:
def print_big(letter):
    this_dict = {
        "a": '  *  \n * * \n*****\n*   *\n*   *\n',
        'b': '**** \n*   *\n**** \n*   *\n**** \n',
        'c': ' *** \n*   *\n*    \n*   *\n *** \n',
        'd': '**** \n*   *\n*   *\n*   *\n**** \n',
        'e': '*****\n*    \n**** \n*    \n*****\n',
    }
    
    print(this_dict[letter.lower()])

In [270]:
print_big('a')
print_big('b')
print_big('c')
print_big('d')
print_big('e')
print_big('A')

  *
 * *
*****
*   *
*   *

****
*   *
****
*   *
****

 ***
*   *
*
*   *
 ***

****
*   *
*   *
*   *
****

*****
*
****
*
*****

  *
 * *
*****
*   *
*   *

## Great Job!